<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>web04_227</display-name>
	
	<!-- 회원 조회 -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>MemberList</servlet-name> -->
<!-- 		<servlet-class>tg.member.servlets.MemberListServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>MemberList</servlet-name> -->
<!-- 		<url-pattern>/member/list</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<!-- 회원 등록 -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>MemberAdd</servlet-name> -->
<!-- 		<servlet-class>tg.member.servlets.MemberAddServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>MemberAdd</servlet-name> -->
<!-- 		<url-pattern>/member/add</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<!-- 회원 한명 조회 -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>MemberOne</servlet-name> -->
<!-- 		<servlet-class>tg.member.servlets.MemberOneServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>MemberOne</servlet-name> -->
<!-- 		<url-pattern>/member/one</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>